<div class="center hero-unit">
  	<h1>Blog</h1>

  	<h2>
 	Here is a link to our blog which relate the advance of the project, the modification made and so goes on : <a href="http://jpuchol.github.com">BillSpliting Project</a>
	</h2>

</div>