<% provide(:title, 'New group') %>
<h1>New group</h1>


<%= form_for(@group) do |f| %>
    <%=render 'fields', f: f %>
    <%= f.submit "Create group", class: "btn btn-large btn-primary" %>
<% end %>



