<% provide(:title, @group.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @group.name %>
      </h1>
      <p> <%= @group.comment %> </p>
    </section>

    <section>
      <%= render 'shared/bill_form' %>
    </section>
	
  </aside>
  <div class="span7 offset1">
    <%= render 'users' %>
  </div>
</div>
