<% provide(:title, 'Editing user') %>
<h1>Change my info</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%=render 'fields', f: f %>
        <p>Max size : 2Mo</p>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>