<p>
  <span class="comment"><%= link_to bill.comment, bill %> </span>
  <span class="Amount"> Amount: <%= bill.amount %> € </span>
  <span class="timespan">
     Posted <%= time_ago_in_words(bill.created_at) %> ago.
  </span>
  <% if current_user?(bill.user) %>
    <%= link_to "delete", bill, method: :delete,
                           data: { confirm: "You sure?" },
                           title: bill.comment %>
  <% end %>
</p>
