<li>
  <span class="comment"><%= bill.comment %></span>
  <span class="timespan">
     Posted <%= time_ago_in_words(bill.created_at) %> ago.
  </span>
  <% if current_user?(bill.user) %>
    <%= link_to "delete", bill, method: :delete,
                           data: { confirm: "You sure?" },
                           title: bill.comment %>
  <% end %>
</li>
