<% provide(:title, @bill.comment) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @bill.comment %>
      </h1>
      <p> <%= @bill.amount %> </p>
    </section>
	
  </aside>
  <div class="span7 offset1">
    
  </div>
</div>