<footer class="footer">
  <small>
    BillSplit by Mats & Julien
  </small>
  <nav>
    <ul>
      <li><%= link_to "About us",   about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Blog", "http://jpuchol.github.io" %></li>
      </ul>
  </nav>
</footer>
